Source: pocket
Section: main/devel
Priority: extra
Maintainer: Paul Wolneykien <manowar@altlinux.org>
Build-Depends: debhelper (>= 8.0.0), dh-autoreconf, help2man:native, ruby-ronn, pkg-config
Standards-Version: 3.9.2
Homepage: http://metrotek.spb.ru/

Package: pocket
Section: main/devel
Architecture: all
Depends: make, coreutils, hasher-priv, debootstrap, dpkg, rsync, less, ${misc:Depends}
Description: A compact package build system with unprivileged access
